[submodule "content/themes/casper"]
	path = content/themes/casper
	url = git://github.com/TryGhost/Casper.git
[submodule "content/themes/ghost-theme"]
	path = content/themes/ghost-theme
	url = git://github.com/robinxie/ghost-theme.git
